---
import ProjectCard from "./ProjectCard.astro";
import calculator from "../images/calculator.png";
import productiveDay from "../images/productive-day.png";
import dabooks from "../images/dabooks.png";
import tesla from "../images/tesla-landing.png";
import drums from "../images/drum-kit.png";
import { Image } from "astro:assets";
---

<div class="grid grid-cols-1 gap-8 py-20 px-8 md:grid-cols-2 lg:grid-cols-4">
  <div class="grid gap-4">
    <ProjectCard title="Simple Calculator" link="https://simple-da-calculator.netlify.app/" stack="HTML / CSS / JavaScript" >
      <Image src={calculator} alt="Calculator Project" class="h-auto max-w-full rounded-lg group-hover:rotate-3 group-hover:scale-125 transition-transform duration-500" />
    </ProjectCard>
  </div>
  <div class="grid gap-4">
    <ProjectCard title="Productive Day" link="https://productive-day.netlify.app/home" stack="HTML / CSS / JavaScript / ReactJS / React router / ChakraUI" >
      <Image src={productiveDay} alt="Productive Day Project" class="h-auto max-w-full rounded-lg group-hover:rotate-3 group-hover:scale-125 transition-transform duration-500" />
    </ProjectCard>
  </div>
  <div class="grid gap-4">
    <ProjectCard image="dabooks" title="daBooks" link="https://da-books.netlify.app/" stack="HTML / CSS / JavaScript / ReactJS / ChakraUI" >
      <Image src={dabooks} alt="Reading List Project" class="h-auto max-w-full rounded-lg group-hover:rotate-3 group-hover:scale-125 transition-transform duration-500" />
    </ProjectCard>
  </div>
  <div class="grid gap-4">
    <ProjectCard title="Tesla Landing Page" link="https://tesla-landing-dcdv.netlify.app/" stack="HTML / Tailwind CSS / JavaScript / Astro" >
      <Image src={tesla} alt="Tesla landing page Project" class="h-auto max-w-full rounded-lg group-hover:rotate-3 group-hover:scale-125 transition-transform duration-500" />
    </ProjectCard>
  </div>
  <div class="grid gap-4">
    <ProjectCard title="JS Drum Kit" link="https://js-drum-kit-online.netlify.app/" stack="HTML / CSS / JavaScript" >
      <Image src={drums} alt="JS Drum Kit Project" class="h-auto max-w-full rounded-lg group-hover:rotate-3 group-hover:scale-125 transition-transform duration-500" />
    </ProjectCard>
  </div>
</div>
